$cell-side: 25px;

@font-face {
  font-family: 'chess_casesregular';
  src: url('../fonts/casefont-webfont.woff2') format('woff2'),
  url('../fonts/casefont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  outline: 0;
}

body {
  margin: 40px;
}

h1, h2 {
  margin: 40px 0;
}

ol {
  padding-left: 0;
  list-style-type:decimal;
}

#game {

  .movement {

    overflow: auto;
    margin-bottom: 20px;

    .message {
      margin-left: $cell-side * 10;
      margin-top: $cell-side;
    }

    .board {

      position:relative;
      font-size: 1.3em;
      width: $cell-side * 9;
      float: left;

      .row {

        overflow: auto;

        .cell {
          width: $cell-side;
          height: $cell-side;
          float: left;
          text-align: center;
          background-color: #9cc;

          .piece {
            font-family: chess_casesregular;
            height: 100%;
          }

        }

        &:nth-child(even) .cell:nth-child(even),
        &:nth-child(odd) .cell:nth-child(odd) {
          background-color: #ffc;
        }

        .cell.from {
          background-color: #f99 !important;
        }


        .cell.header {
          background-color: #fff !important;
          font-size: .6em;
          text-transform: uppercase;
          line-height: 25px;
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: $cell-side * 9;
        height: $cell-side * 9;

        #head {
          fill: #c6c;
          marker-units: stroke-width;
        }

        .arrow {
          stroke: #c6c;
          stroke-width: 3;
        }

      }

    }

  }

}

.btn {

  position: relative;
  margin: 40px 0;
  padding: 8px 16px;
  border: 0;
  box-shadow: 3px 3px 0px rgba(0,0,0,.5);

  background-color: #66c;
  color: #fff;

  &.on,
  &:active {

    background-color: lighten(#66c, 10%);

    top: 2px;
    left: 2px;

    box-shadow: 1px 1px 0px rgba(0,0,0,.7);

  },

  &:hover {
    background-color: lighten(#66c, 5%);
  }

}

form {
  .form-group {

    margin: 12px 0;
    label {
      display: inline-block;
      width: 180px;
    }

    input {
      padding: 4px 8px;
      border: 1px solid #ddd;

    }

  }
}